.body-class{
background-color: #52635e;
  font-family: Arial, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.header-class {
    background-color: #7b8c82;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

.nav-class{
    background-color: #333;
    color: #fff; 
    padding: 10px; 
    text-align: center; 
    font-size: 16px; 
}

.title-class{
        font-size: 24px; 
        font-weight: bold;
        color: #fff; 
        text-decoration: underline; 
    }

.text-class{
  color:darkgrey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;


}

.image-class{
  width: 400;
  height: 300;
  color:#fff
}

.form-class{
  margin: 40px;
  width: 500px;
  background-color: #fff;
  box-shadow: 0 0 0px 0 #999;
  top: 90%;
  left: 90%
  border-radius: 14px;
  border-radius: 14px;
}
.label-class{
  color:black;
  font-weight:bold;
}

.button-class{
  color:green;
  font-weight:bold;
  border-radius: 20px;
  color: #fff;
  margin-top: 18px;
  padding: 10px;
  background-color: #497a50;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.nav-link-class{
  color:white;
}

.footer-class{
  background-color: #fff;
}